{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
<h1>Code Runner</h1>

<div class="logout-button">
    <button onclick="logoutUser()">Выйти</button>
</div>

<div class="form-group">
    <label for="python-version">Выберите версию Python:</label>
    <select id="python-version"></select>
</div>

<div class="form-group">
    <label for="code">Введите код:</label>
    <textarea id="code" rows="10"></textarea>
</div>

<button id="execute-btn">Выполнить код</button>

<div class="form-group">
    <h2>Результат выполнения:</h2>
    <pre id="output"></pre>
    <div id="execution-time" style="margin-top: 10px; font-weight: bold;"></div>
</div>

<hr>

<div class="form-group">
    <label for="package">Установить пакет:</label>
    <input type="text" id="package" placeholder="Например, numpy">
    <button id="install-btn">Установить пакет</button>
</div>

<div class="form-group">
    <h2>Результат установки:</h2>
    <pre id="install-output"></pre>
</div>
{% endblock %}