{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
<h1 class="unselectable">Code Runner</h1>

<div class="logout-button">
    <button onclick="logoutUser()">Выйти</button>
</div>

<div class="language-select-row" style="display: flex; gap: 1rem; align-items: center; margin-bottom: 1rem;">
    <select id="language-select" style="flex: 1; padding: 0.5rem;"></select>
    <select id="version-select" style="flex: 1; padding: 0.5rem;"></select>
    <button id="lib-btn" style="padding: 0.5rem 1rem;">Установить библиотеки</button>
</div>

<div class="form-group">
    <textarea id="code" rows="10"></textarea>
</div>

<button id="execute-btn">Выполнить код</button>

<div class="form-group">
    <pre id="output" class="readonly-output"></pre>
    <div id="execution-time" style="margin-top: 10px; font-weight: bold;"></div>
</div>

<div id="lib-modal">
  <div class="modal-content">
    <span class="close" onclick="closeLibModal()">&times;</span>
    <h2>Установка библиотек</h2>
    <input id="libs-input" type="text">
    <div style="margin-top: 1rem; text-align: right;">
      <button onclick="closeLibModal()">Отмена</button>
      <button onclick="installPackages()">Установить</button>
    </div>
  </div>
</div>
{% endblock %}